# Homework 2: Python Basics and Google Colab

## Overview

### Objectives
- Develop your Python programming skills.
- Gain hands-on experience with Google Colab.

### Grading
- **Colab Notebook (10%)**: Turn in your Colab notebook on Google Classroom and submit the Colab URL on Blackboard.
- **Programming Questions (90%)**: Equal weightage for all questions, focusing on correctness and coding standards.


### Sample Question:
Calculate $\sqrt{81}$ using the `math` module in Python:

In [ ]:
# answer
import math
math.sqrt(81)

9.0




## Part A. Elementary Data Types

### Question 1.

 Create a Python dictionary named student with keys name, age, and course, and access the course value.

In [1]:
student = {
    'name': 'Tom',
    'age': 21,
    'course': 'Computer Science'
}
print(student['course'])

Computer Science

### Question 2.
Using Python, create a tuple with 5 elements.

In [2]:
my_tuple = (5, 'student', 7.2 , False , 'Q')

# Print the list
print(my_tuple)

(5, 'student', 7.2, False, 'Q')

### Question 3.
Write a Python expression to check if the number 7 is in the list [1, 2, 3, 4, 5]

In [3]:
print(7 in [1,2,3,4,5])

False

### Question 4.
Split the string "Welcome to Knowledge Discovery and Data Mining Class" into words

In [4]:
words = "Welcome to Knowledge Discovery and Data Mining Class".split(" ")
print(words)

['Welcome', 'to', 'Knowledge', 'Discovery', 'and', 'Data', 'Mining', 'Class']

## Part B. Compound Data Types

### Question 5.
Write a Python code to append the number 9 to the existing list numbers = [1, 2, 3, 4, 5].

In [7]:
numbers = [1, 2, 3, 4, 5]
numbers.append(9)
print(numbers)

[1, 2, 3, 4, 5, 9]

### Question 6
Concatenate two lists, list1 = [10, 20, 30] and list2 = [40, 50, 60].

In [8]:
list1 = [10, 20, 30]
list2 = [40, 50, 60]
list3 = list1 + list2
print(list3)

[10, 20, 30, 40, 50, 60]

## Part C. Arithmetic Operations

### Question 7.
Calculate the result of the expression $3^3 + 4^2 - 1$.

In [9]:
result = 3**3 + 4**2 - 1
print(result)

42

### Question 8.
Find the result of dividing 22 by 7 and round it to 3 decimal places.

In [10]:
result = round(22 / 7, 3)
print(result)

3.143

### Question 9.

Given two lists,

- directors = ['Nolan', 'Tarantino', 'Spielberg', 'Scorsese'] and
- movies = ['Inception', 'Pulp Fiction', 'Jurassic Park', 'Goodfellas'],

use zip to create a dictionary where directors are keys and their respective movies are values. Then, write a Python code snippet to sort this dictionary by the movie titles (values) and print the sorted items

In [11]:
directors = ['Nolan', 'Tarantino', 'Spielberg', 'Scorsese']
movies = ['Inception', 'Pulp Fiction', 'Jurassic Park', 'Goodfellas']
directors_movies_dict = dict(zip(directors, movies))
print(sorted(directors_movies_dict.items(), key=lambda item: item[1]))

[('Scorsese', 'Goodfellas'), ('Nolan', 'Inception'), ('Spielberg', 'Jurassic Park'), ('Tarantino', 'Pulp Fiction')]

### Question 10.
Develop a Python function named filter_and_sort_by_char that takes a list of strings and a character as input, along with an optional boolean parameter sort_list. This function should filter the list to include only those strings that contain the specified character. If sort_list is set to True, the resulting list should be sorted alphabetically. If sort_list is False or not specified, the list should be returned as is (unsorted) but only with strings containing the specific character.

In [13]:
def filter_and_sort_by_char(strings_list, char, sort_list=False):
    # Filter strings that contain the specified character
    filtered_list = [s for s in strings_list if char in s]

    # Sort the list if sort_list is True
    if sort_list:
        filtered_list.sort()

    return filtered_list

# Example usage:
books =["1984","The Great Gatsby","To Kill a Mockingbird","Brave New World","Pride and rejudice"];
character_to_filter = 'e'

# Filter and sort the list by character
result = filter_and_sort_by_char(books, character_to_filter, sort_list=True)

# Print the result
print(result)

['Brave New World', 'Pride and rejudice', 'The Great Gatsby']